{% extends "base.html" %}

{% block content %}
<div id="inventory-header">
    <h4 id="inventory-title">My Inventories</h4>
    <a id="button-add-computer" class="btn btn-primary btn-sm" role="button" href="{% url 'inventory:addinventory' %}">Add Inventory</a>
</div>
<hr style="clear: both"></hr>
{% if inventories %}
    <ul>
    {% for inventory in inventories %}
        <li><a href="{% url 'inventory:inventory' inventory.id %}">
                {{inventory.name}}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No inventories yet.</p>
{% endif %}
{% endblock %}

