{% extends "base.html" %}

{% block content %}
{% if inventory %}
<div id="inventory-header">
    <h4 id="inventory-title">{{inventory.name}}</h4>
    <a id="button-add-computer" class="btn btn-primary btn-sm" role="button" href="{% url 'inventory:addcomputer' inventory.id  %}">Add Computer</a>
</div>
{% endif %}
{% if computers %}
    <table class="table">
        <thead>
            <tr>
                <th>Serial #</th>
                <th>Manufacturer</th>
                <th>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>{{computer.serial}}</td>
                <td>{{computer.manufacturer}}</td>
                <td>{{computer.comments}}</td>
                <td>
                    <p>
                        <a href="{% url 'inventory:editcomputer' inventory.id computer.id %}" >Edit</a>
                        &#8231
                        <a href="{% url 'inventory:deletecomputer' inventory.id computer.id %}" >Delete</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div id="no-computer">
        <hr></hr>
        <p>No computers yet.</p>
    </div>
{% endif %}
{% endblock %}
