.navbar {
    background-color: #009688;
}
.navbar-brand {
    color: white !important;
}

#inventory-header {
    margin-top: 16px;
}
#inventory-title {
    float: left;
}

#button-add-computer {
    float: right;
}

#no-computer {
    clear: both;
}
